:root {
  --primary-dark_cyan-500: hsl(158, 36%, 37%);
  --primary-cream-600: hsl(30, 38%, 92%);
  --neutral-dark_blue-300: hsl(212, 21%, 14%);
  --darkish-blue-200: hsl(228, 12%, 48%);
  --neutral-white-900: hsl(0, 0%, 100%);
}

body {
  background-color: var(--primary-cream-600);
  margin: 0;
  padding: 0;
}

.image-display {
    display: flex;
    justify-self: end;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;

}

.image-display img {
  margin: 150px auto;
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 150px 0;
    width: 300px;
    padding-left: 30px;
    justify-content: space-between;
    background-color: var(--neutral-white-900);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
