:root {
  --primary-dark_cyan-500: hsl(158, 36%, 37%);
  --primary-cream-600: hsl(30, 38%, 92%);
  --neutral-dark_blue-300: hsl(212, 21%, 14%);
  --darkish-blue-200: hsl(228, 12%, 48%);
  --neutral-white-900: hsl(0, 0%, 100%);
}






.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
