:root {
  --primary-dark_cyan-500: hsl(158, 36%, 37%);
  --primary-cream-600: hsl(30, 38%, 92%);
  --neutral-dark_blue-300: hsl(212, 21%, 14%);
  --darkish-blue-200: hsl(228, 12%, 48%);
  --neutral-white-900: hsl(0, 0%, 100%);
}

body {
  background-color: var(--primary-cream-600);
  margin: 0;
  padding: 0;
}

.image-display {
  display: flex;
  justify-self: end;
}

.main-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.image-display .desktop {
  margin: 9.375rem auto;
  width: 18.75rem;
  height: 26.775rem;
  object-fit: cover;
}

.image-display .mobile {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 9.375rem 0;
  width: 16.875rem;
  padding-left: 1.875rem;
  justify-content: space-between;
  background-color: var(--neutral-white-900);
}

.content h2 {
  font-family: Montserrat;
  color: var(--darkish-blue-200);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.3125rem;
  padding: 0;
  margin: 1.25rem 0;
  text-transform: uppercase;
}

.content h1 {
  font-family: "Fraunces";
  font-weight: 700;
  color: var(--neutral-dark_blue-300);
  padding: 0;
  margin: 0;
  width: 12.5rem;
}
.content p {
  font-family: Montserrat;
  font-size: 0.875rem;
  color: var(--darkish-blue-200);
  width: 13.75rem;
  line-height: 1.375rem;
  margin: 1rem 0;
}

.prices {
  display: inline;
  margin: 0.625rem 0;
}
.new-price {
  font-family: "Fraunces";
  color: var(--primary-dark_cyan-500);
  font-weight: 700;
  font-size: 1.5rem;
}

.old-price {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--darkish-blue-200);
  padding: 0 1.25rem;
}

.cart {
  color: var(--neutral-white-900);
  background-color: var(--primary-dark_cyan-500);
  width: 13.75rem;
  margin: 1.25rem 0;
  border-radius: 0.4375rem;
}

.cart:hover {
  background-color: hsl(159, 48%, 20%);
  cursor: pointer;
}
.cart p {
  display: flex;
  font-family: Montserrat;
  justify-content: center;
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--neutral-white-900);
  margin: 0.625rem 0;
}

.cart p img {
  padding: 0 0.625rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 30rem) {
  body {
    background-color: var(--primary-cream-600);
    width: 30rem;
    overflow: hidden;
  }
  .main-items {
    display: flex;
    flex-direction: column;
  }
  .image-display .desktop {
    display: none;
  }

  .image-display .mobile {
    display: flex;
    justify-content: end;
    width: 25rem;
    margin: 4.375rem auto 0 auto;
    height: 15.625rem;
    align-items: center;
  }
  .content {
    margin: 0 auto;
    width: 23.125rem;
  }
  .content h1 {
    width: 18.75rem;
  }

  .content p {
    width: 21.875rem;
  }

  .cart {
    width: 21.875rem;
  }
  .attribution {
    display: none;
  }
}

@media (max-width: 23.4375rem) {
  body {
    background-color: var(--primary-cream-600);
    width: 22.5rem;
    overflow: hidden;
  }
  .main-items {
    display: flex;
    flex-direction: column;
  }
  .image-display .desktop {
    display: none;
  }

  .image-display .mobile {
    display: flex;
    justify-content: end;
    width: 21.25rem;
    margin: 4.375rem auto 0 auto;
    height: 15.625rem;
    align-items: center;
  }
  .content {
    margin: 0 auto;
    width: 19.375rem;
  }
  .content h1 {
    width: 18.75rem;
  }

  .content p {
    width: 18.125rem;
  }

  .cart {
    width: 18.125rem;
  }
  .attribution {
    display: none;
  }
}
